02-workflow-orchestration/flows/04_postgres_taxi.yaml
id: 04_postgres_taxi                       # 워크플로우 고유 ID
namespace: zoomcamp                           # 워크플로우 그룹
description: |                               # 워크플로우 설명
  The CSV Data used in the course: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:                                       # 사용자 입력 파라미터들
  - id: taxi                                 # 택시 타입 선택
    type: SELECT                             # 드롭다운 선택 타입
    displayName: Select taxi type            # UI 표시 이름
    values: [yellow, green]                  # 선택 옵션들
    defaults: yellow                         # 기본값

  - id: year                                 # 연도 선택
    type: SELECT
    displayName: Select year
    values: ["2019", "2020"]                 # 2019, 2020년 옵션
    defaults: "2019"                         # 기본값 2019년

  - id: month                                # 월 선택
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]  # 1-12월
    defaults: "01"                           # 기본값 1월

variables:                                   # 동적 변수들 (템플릿)
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"  # 파일명 생성
  staging_table: "public.{{inputs.taxi}}_tripdata_staging"               # 임시 테이블명
  table: "public.{{inputs.taxi}}_tripdata"                               # 최종 테이블명
  data: "{{outputs.extract.outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ inputs.month ~ '.csv']}}"  # 추출된 데이터 경로

tasks:                                      # 워크플로우 실행 태스크들
  - id: set_label                             # [라벨 설정] 실행에 라벨 추가 (여러번 실행했을때 로그를 보지않아도 한눈에 모든 정보 확인 가능)
    type: io.kestra.plugin.core.execution.Labels  # 실행 라벨 플러그인
    labels:                                   # 추가할 라벨들
      file: "{{render(vars.file)}}"           # 파일명 라벨
      taxi: "{{inputs.taxi}}"                 # 택시 타입 라벨

  - id: extract                               # [EXTRACT] 데이터 다운로드
    type: io.kestra.plugin.scripts.shell.Commands  # 쉘 명령어 실행
    outputFiles:                              # 생성될 출력 파일 패턴
      - "*.csv"                               # CSV 파일들
    taskRunner:                               # 실행 환경
      type: io.kestra.plugin.core.runner.Process  # 프로세스 실행
    commands:                                 # 실행할 쉘 명령어들
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  - id: if_yellow_taxi                       # [조건문] 택시 타입에 따른 분기
    type: io.kestra.plugin.core.flow.If      # 조건문 플러그인
    condition: "{{inputs.taxi == 'yellow'}}"  # 조건: yellow 택시 선택시
    then:                                     # 조건이 참일 때 실행할 태스크들
      - id: yellow_create_table               # [LOAD] Yellow 택시 메인 테이블 생성
        type: io.kestra.plugin.jdbc.postgresql.Queries  # PostgreSQL 쿼리 실행
        sql: |                                # 실행할 SQL 쿼리
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (  # 테이블이 없으면 생성
              unique_row_id          text,
              filename               text,
              VendorID               text,
              tpep_pickup_datetime   timestamp,
              tpep_dropoff_datetime  timestamp,
              passenger_count        integer,
              trip_distance          double precision,
              RatecodeID             text,
              store_and_fwd_flag     text,
              PULocationID           text,
              DOLocationID           text,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision
          );

      - id: yellow_create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               text,
              tpep_pickup_datetime   timestamp,
              tpep_dropoff_datetime  timestamp,
              passenger_count        integer,
              trip_distance          double precision,
              RatecodeID             text,
              store_and_fwd_flag     text,
              PULocationID           text,
              DOLocationID           text,
              payment_type           integer,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              congestion_surcharge   double precision
          );

      - id: yellow_truncate_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: yellow_copy_in_to_staging_table    # [LOAD] CSV 데이터를 임시 테이블로 복사
        type: io.kestra.plugin.jdbc.postgresql.CopyIn  # PostgreSQL COPY 명령어
        format: CSV                            # CSV 포맷
        from: "{{render(vars.data)}}"          # 소스 파일 경로
        table: "{{render(vars.staging_table)}}"  # 대상 임시 테이블
        header: true                           # 첫 줄이 헤더인지 여부
        columns: [VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge]  # 컬럼 매핑

      - id: yellow_add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(tpep_pickup_datetime AS text), '') || 
              COALESCE(CAST(tpep_dropoff_datetime AS text), '') || 
              COALESCE(PULocationID, '') || 
              COALESCE(DOLocationID, '') || 
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance AS text), '')      
            ),
            filename = '{{render(vars.file)}}';

      - id: yellow_merge_data                 # [LOAD] 임시 → 메인 테이블 데이터 병합
        type: io.kestra.plugin.jdbc.postgresql.Queries  # PostgreSQL 쿼리 실행
        sql: |                                # UPSERT (INSERT + UPDATE) 쿼리
          MERGE INTO {{render(vars.table)}} AS T       # 대상 테이블 (메인)
          USING {{render(vars.staging_table)}} AS S    # 소스 테이블 (임시)
          ON T.unique_row_id = S.unique_row_id          # 매칭 조건 (고유 ID)
          WHEN NOT MATCHED THEN                         # 일치하는 레코드가 없을 때
            INSERT (
              unique_row_id, filename, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime,
              passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID,
              DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount,
              improvement_surcharge, total_amount, congestion_surcharge
            )
            VALUES (
              S.unique_row_id, S.filename, S.VendorID, S.tpep_pickup_datetime, S.tpep_dropoff_datetime,
              S.passenger_count, S.trip_distance, S.RatecodeID, S.store_and_fwd_flag, S.PULocationID,
              S.DOLocationID, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount,
              S.improvement_surcharge, S.total_amount, S.congestion_surcharge
            );

  - id: if_green_taxi
    type: io.kestra.plugin.core.flow.If
    condition: "{{inputs.taxi == 'green'}}"
    then:
      - id: green_create_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               text,
              lpep_pickup_datetime   timestamp,
              lpep_dropoff_datetime  timestamp,
              store_and_fwd_flag     text,
              RatecodeID             text,
              PULocationID           text,
              DOLocationID           text,
              passenger_count        integer,
              trip_distance          double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision
          );

      - id: green_create_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          CREATE TABLE IF NOT EXISTS {{render(vars.staging_table)}} (
              unique_row_id          text,
              filename               text,
              VendorID               text,
              lpep_pickup_datetime   timestamp,
              lpep_dropoff_datetime  timestamp,
              store_and_fwd_flag     text,
              RatecodeID             text,
              PULocationID           text,
              DOLocationID           text,
              passenger_count        integer,
              trip_distance          double precision,
              fare_amount            double precision,
              extra                  double precision,
              mta_tax                double precision,
              tip_amount             double precision,
              tolls_amount           double precision,
              ehail_fee              double precision,
              improvement_surcharge  double precision,
              total_amount           double precision,
              payment_type           integer,
              trip_type              integer,
              congestion_surcharge   double precision
          );

      - id: green_truncate_staging_table
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          TRUNCATE TABLE {{render(vars.staging_table)}};

      - id: green_copy_in_to_staging_table
        type: io.kestra.plugin.jdbc.postgresql.CopyIn
        format: CSV
        from: "{{render(vars.data)}}"
        table: "{{render(vars.staging_table)}}"
        header: true
        columns: [VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge]

      - id: green_add_unique_id_and_filename
        type: io.kestra.plugin.jdbc.postgresql.Queries
        sql: |
          UPDATE {{render(vars.staging_table)}}
          SET 
            unique_row_id = md5(
              COALESCE(CAST(VendorID AS text), '') ||
              COALESCE(CAST(lpep_pickup_datetime AS text), '') || 
              COALESCE(CAST(lpep_dropoff_datetime AS text), '') || 
              COALESCE(PULocationID, '') || 
              COALESCE(DOLocationID, '') || 
              COALESCE(CAST(fare_amount AS text), '') || 
              COALESCE(CAST(trip_distance AS text), '')      
            ),
            filename = '{{render(vars.file)}}';

      - id: green_merge_data                  # [LOAD] Green 임시 → 메인 테이블 데이터 병합
        type: io.kestra.plugin.jdbc.postgresql.Queries  # PostgreSQL 쿼리 실행
        sql: |                                # UPSERT 쿼리 (Green 택시용)
          MERGE INTO {{render(vars.table)}} AS T       # 대상 테이블 (메인)
          USING {{render(vars.staging_table)}} AS S    # 소스 테이블 (임시)
          ON T.unique_row_id = S.unique_row_id          # 매칭 조건 (고유 ID)
          WHEN NOT MATCHED THEN                         # 일치하는 레코드가 없을 때
            INSERT (
              unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime,
              store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count,
              trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee,
              improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge
            )
            VALUES (
              S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime,
              S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count,
              S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee,
              S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge
            );
  
  - id: purge_files                          # [정리] 실행 파일들 삭제
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles  # 파일 정리 플러그인
    description: This will remove output files. If you'd like to explore Kestra outputs, disable it.

pluginDefaults:                             # 플러그인 기본 설정
  - type: io.kestra.plugin.jdbc.postgresql   # PostgreSQL 플러그인 기본값
    values:
      url: jdbc:postgresql://pgdatabase:5432/ny_taxi  # DB 연결 URL (컨테이너명 사용)
      username: root                        # DB 사용자명
      password: root                         # DB 비밀번호